mixin products
    +b.SECTION.products
        +e.item
           +e.img(style='background-image: url("images/cat1_s.jpg")')
           +e.A.plus(data-fancybox="gallery" href="images/cat1_s.jpg") 
           +e.title Костная мельница
           +e.price 9 000 руб.
           +e.A.button(href='#') Добавить в корзину
        +e.item
           +e.img(style='background-image: url("images/cat2_s.jpg")')
           +e.A.plus(data-fancybox="gallery" href="images/cat2_s.jpg") 
           +e.title Костная мельница
           +e.price 9 000 руб.
           +e.A.button(href='#') Добавить в корзину
        +e.item
           +e.img(style='background-image: url("images/cat3_s.jpg")')
           +e.A.plus(data-fancybox="gallery" href="images/cat3_s.jpg") 
           +e.title Костная мельница
           +e.price 9 000 руб.
           +e.A.button(href='#') Добавить в корзину
        +e.item
           +e.img(style='background-image: url("images/cat4_s.jpg")')
           +e.A.plus(data-fancybox="gallery" href="images/cat4_s.jpg") 
           +e.title Костная мельница
           +e.price 9 000 руб.
           +e.A.button(href='#') Добавить в корзину
        +e.item
           +e.img(style='background-image: url("images/cat5_s.jpg")')
           +e.A.plus(data-fancybox="gallery" href="images/cat5_s.jpg") 
           +e.title Костная мельница
           +e.price 9 000 руб.
           +e.A.button(href='#') Добавить в корзину
        +e.item
           +e.img(style='background-image: url("images/cat6_s.jpg")')
           +e.A.plus(data-fancybox="gallery" href="images/cat6_s.jpg") 
           +e.title Костная мельница
           +e.price 9 000 руб.
           +e.A.button(href='#') Добавить в корзину