mixin spots()
    +b.SECTION.spots
        +inner
            +e.title
                +title Подъедем в удобное для Вас <br>место всего за 60 минут
            +e.list
                +e.item В офис
                +e.item В университет
                +e.item На дачу
                +e.item Прямо домой
        +e.car