mixin similar()
    +b.SECTION.similar
        +inner
            +e.H2.title Похожие товары
            +e.list
                +e.A.item(style="background-image: url('images/cat1_s.jpg')")
                +e.A.item(style="background-image: url('images/cat2_s.jpg')")
                +e.A.item(style="background-image: url('images/cat3_s.jpg')")
                +e.A.item(style="background-image: url('images/cat4_s.jpg')")
        