mixin masters()
    +b.SECTION.masters
        +inner
            +e.title
                +title Только квалифицированы <br>специалисты с опытом от 4 лет   
            +e.subtitle каждый мастер проходит тестирование перед приемом на работу
            +e.UL.list
                +e.LI.item
                    +e.IMG.img(src='images/master1.jpg')
                    +e.name Сергей Богданов
                    +e.exp 6 лет
                    +e.desc Отремонтировал 8460 телефонов.
                +e.LI.item
                    +e.IMG.img(src='images/master2.jpg')
                    +e.name Сергей Богданов
                    +e.exp 6 лет
                    +e.desc Отремонтировал 8460 телефонов.
                +e.LI.item
                    +e.IMG.img(src='images/master3.jpg')
                    +e.name Сергей Богданов
                    +e.exp 6 лет
                    +e.desc Отремонтировал 8460 телефонов.