mixin advantages()
    +b.advantages
        +e.list
            +e.item
                +e.icon
                +e.text Беслпатный выезд в течение 1 часа в любую точку Санк-Петербурга
            +e.item
                +e.icon
                +e.text Мастера с опытом от 4 лет
            +e.item
                +e.icon
                +e.text Оригинальные комплектующие с гарантией всегда в наличии
