mixin main-footer()
	+b.FOOTER.main-footer
		+inner
			+e.socials
				+e.A.socials-item(href='instagram.com' title='Наш аккаунт в инстаграмме')
				+e.A.socials-item(href='vk.com' title='Наш аккаунт во вконтакте')
				+e.A.socials-item(href='facebook.com' title='Наш аккаунт во facebook')
			+e.UL.nav
				+e.LI.nav-item
					+e.A.nav-link(href='#') Информация
				+e.LI.nav-item
					+e.A.nav-link(href='#') Служба поддержки
				+e.LI.nav-item
					+e.A.nav-link(href='#') Дополнительно
				+e.LI.nav-item
					+e.A.nav-link(href='#') Личный кабинет
				