.main-footer {
	width: 100%;
	padding: 25px 0 40px;

	font-family: $roboto;

	background-color: #242527;
}

.main-footer__socials {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 35px;
}

.main-footer__socials-item {
	width: 40px;
	height: 40px;
	margin-right: 10px;

	background-image: url('../images/insta.png');
	background-size: cover;

	&:nth-child(2) {
		background-image: url('../images/vk.png');
	}

	&:nth-child(3) {
		margin-right: 0;

		background-image: url('../images/fb.png');
	}
}

.main-footer__nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.main-footer__nav-item {
	margin-right: 65px;
	margin-bottom: 15px;

	&:last-child {
		margin-right: 0;
	}
}

.main-footer__nav-link {
	color: $lighttext;
	font-size: 20px;
	font-weight: 300;

	transition: color 300ms ease;

	&:hover,
	&:active {
		text-decoration: none;
		color: $themecolor;
	}
}

@media (max-width: 480px) {
	.main-footer {
		padding: 20px 0 20px;
	}

	.main-footer__socials {
		margin-bottom: 20px;
	}

	.main-footer__socials-item {
		width: 20px;
		height: 20px;
	}

	.main-footer__nav-item {
		margin-right: 10px;
	}

	.main-footer__nav-link {
		font-size: 9px;
	}
}
