mixin breadcrumbs()
    +inner
        +b.OL.breadcrumbs
            +e.LI.item
                +e.A.link(href="/") Главная
            +e.LI.item Хирургические инструменты
            +e.LI.item.--active Костный расширитель
