.steps {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 75px;

    background-color: #fafafa;

    font-family: $ubuntu;
}

.steps__title {
    margin-bottom: 80px;
}

.steps__list {
    position: relative;
    width: 100%;
    padding: 0 100px;
    list-style: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    &::before {
        content: '';
        position: absolute;
        z-index: 0;
        width: 6px;
        height: calc(100% - 160px);
        top: 80px;
        left: 50%;
        transform: translateX(-30%);

        background-color: $themecolor;
    }
}

.steps__item {
    position: relative;
    width: 360px;
    padding: 35px 20px 35px 90px;
    margin-right: 50%;
    margin-bottom: 30px;

    background-color: #fff;
    box-shadow: 0 10px 23px 3px rgba(86, 86, 86, 0.06);

    &::before {
        content: '';
        position: absolute;
        right: -85px;
        top: 45%;
        transform: translateX(-50%);
        width: 20px;
        height: 20px;

        border: 3px solid $lighttext;
        border-radius: 50%;
        background-color: $themecolor;
    }
  
    &::after {
        content: '▲';
        position: absolute;
        top:45%;
        right: -25px;
        transform: rotate(90deg) translateX(-50%);

        color: #fff;
        font-size: 32px;
        text-shadow: 0 -3px 5px rgba(86, 86, 86, 0.06);
    }

    &:nth-child(2n) {
        margin-right: 0;
        margin-left: auto;

        &::before {
            left: -83px;
            transform: translateX(50%);
        }
        
        &::after {
            right: auto;
            left: -25px;
            transform: rotate(-90deg) translateX(50%);
        }
    }
}


.steps__text {
    position: relative;
    margin: 0;

    color: $darktext;
    font-size: 18px;
    font-weight: 300;
}

.steps__number {
    position: absolute;
    width: 62px;
    height: 62px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);

    background-color: #f7f7f7;
    border-radius: 50%;

    &::after {
        content: attr(data-number);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        color: $themecolor;
        font-size: 40px;
        font-weight: 700;
        line-height: 62px;
    }
}

.steps__button {
    display: block;
    width: 240px;
    margin: 0 auto;

    color: $lighttext;
    font-size: 18px;

    &:hover,
    &:active {
        text-decoration: none;
    }
}

@media (max-width: 1100px) {
    .steps__list::before,
    .steps__item::before,
    .steps__item::after {
        display: none;
    }

    .steps__item {
        width: 420px;
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .steps__item {
        width: 100%;
        margin-right: 0;
    
        &:nth-child(2n) {
            padding-left: 35px;
            padding-right: 95px;

            .steps__number {
                right: 10px;
                left: auto;
            }

            .steps__text {
                text-align: right;
            }
        }

    }
} 

@media (max-width: 480px) {
    .steps__title {
        margin-bottom: 40px;
    }

    .steps__list {
        padding: 0 20px;
    }

    .steps__item {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 70px;
        padding-right: 5px;

        &:nth-child(2n) {
            padding-right: 70px;
            padding-left: 5px;
        }
    }

    .steps__text {
        font-size: 14px;
    }

    .steps__number {
        width: 45px;
        height: 45px;
        
        &::after {
            font-size: 30px;
            line-height: 45px;
        }
    }

    .steps__button {
        font-size: 15px;
    }
}