mixin slider()
    +b.slider.carousel.slide#f-screen-slider
        +e.OL.dots.carousel-indicators
            li.active(data-target='#f-screen-slider', data-slide-to='0')
            li(data-target='#f-screen-slider', data-slide-to='1')
        +e.inner.carousel-inner
            .item.active
                +e.slide
            .item
                +e.slide
        +e.A.control.--left.left.carousel-control(href='#f-screen-slider' data-slide='prev')
            +e.icon
        +e.A.control.--right.right.carousel-control(href='#f-screen-slider' data-slide='next')
            +e.icon
