.title {
    width: 80%;
    margin: 0 auto;

    font-family: $roboto;
    color: $darktext;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

@media (max-width: 768px) {
	.title {
		font-size: 20px;
	}
}

@media (max-width: 480px) {
	.title {
		font-size: 16px;
	}
}
