mixin utp()
    +b.SECTION.utp
        +inner
            +e.title
                +title Приезжайте к нам в офис в любой день
            +e.SPAN.subtitle с 8 до 20-00
            +e.SPAN.text Мы угостим Вас вкусным чаем и сладостями