mixin f-screen()
    +b.SECTION.f-screen
        +inner
            +e.title
                | Профессиональный ремонт #{theme}! <br>На дому от 30 минут!
            +e.advantages
                +advantages
            +e.footer
                +e.P.appeal 
                    | Хотите узнать точную причину поломки вашей техники?<br>
                    | <b>Запишитесь на бесплатную диагностику</b>
                +e.A.button(href='#modal2' data-toggle="modal" data-target="#modal2") 
                    +button Заказать бесплатную диагностику
            
